<div class="list-group" class="col-xs-2">
    <a href="{{ path('user') }}" class="list-group-item">Home</a>
    <a href="{{ path('car_index') }}" class="list-group-item">Cars</a>
    <a href="{{ path('models') }}" class="list-group-item">Models</a>
</div>